# Folders
fileTemplates/
keymaps/
inspection/

tasks/

# Options folder
options/androidStudioFirstRun.xml
options/code.style.schemes.xml
options/extensionsRootType.xml
options/diff.xml
options/dimensions.xml
options/extentsionsRootType.xml
options/feature.usage.statistics.xml
options/fileEditorProviderManager.xml
options/filetypes.xml
options/find.recents.xml
options/git.xml
options/gradle.experimental.xml
options/gradle.run.settings.xml
options/hg.xml
options/ignore.xml
options/images.support.xml
options/instant-run.xml
options/IntelliLang.xml
options/jdk.table.xml
options/keymap.xml
options/laf.xml
options/other.xml
options/project.default.xml
options/proxy.settings.pwd
options/recentProjects.xml
options/runner.layout.xml
options/security.xml
options/statistics.application.usages.xml
options/stubIndex.xml
options/ui.lnf.xml
options/updates.xml
options/usage.statistics.xml
options/vcs.xml
options/web-browsers.xml
options/window.manager.xml
options/window.state.xml
options/fileEditorProviderManager.xml
options/gradle.run.settings.xml
options/options.xml
options/web-browsers.xml
options/vim_settings.xml

# Plugins
plugins/availables.xml

# Files
disabled_plugins.txt
disabled_update.txt
port.lock
user.token
